name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: install_dep
      run: sudo apt install autoconf-archive giblib-dev libimlib2-dev libtool libxcursor-dev libxfixes-dev
    - name: autogen
      run: ./autogen.sh
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make install
      run: sudo make install
    - name: make distclean
      run: make distclean

