# Copyright 2020 Daniel T. Borelli <daltomi@disroot.org>
# Copyright 2020 Jeroen Roovers <jer@gentoo.org>
# Copyright 2020 Joao Eriberto Mota Filho <eriberto@eriberto.pro.br>
# Copyright 2021 Guilherme Janczak <guilherme.janczak@yandex.com>

name: full-check

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install_dependencies
      run: sudo apt install autoconf-archive libimlib2-dev libxcomposite-dev libxfixes-dev libbsd-dev libxinerama-dev
    - name: first_build
      run: |
           ./autogen.sh
           ./configure
           make
           sudo make install
           sudo make uninstall
           make distclean
    - name: second_build
      run: |
           ./autogen.sh
           ./configure
           make
           sudo make install
    - name: run_program
      run: |
           scrot -v
