# Copyright 2020      Daniel T. Borelli <daltomi@disroot.org>
# Copyright 2020      Jeroen Roovers <jer@gentoo.org>
# Copyright 2020      Joao Eriberto Mota Filho <eriberto@eriberto.pro.br>
# Copyright 2021-2022 Guilherme Janczak <guilherme.janczak@yandex.com>
# Copyright 2022      Zev Weiss <zev@bewilderbeest.net>

name: full-check

on: [push, pull_request]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.4.0
    - name: install_dependencies
      run: |
        sudo apt install tcc libimlib2-dev libxcomposite-dev libxfixes-dev \
             autoconf-archive libbsd-dev libxinerama-dev cppcheck
    - name: distcheck
      run: |
        ./autogen.sh
        ./configure
        make distcheck
    - name: run_program
      run: |
        make
        src/scrot -v
    - name: tcc
      run: |
        ./configure CC=tcc
        make clean all
        src/scrot -v
    - name: bare build
      run: |
        make -s distclean
        c99 -o src/scrot src/*.c $(pkg-config --cflags --libs ./deps.pc)
        src/scrot -v
    - name: gcc-aggressive-fanalyzer
      run: |
        gcc --version
        gcc -std=c99 -o src/scrot src/*.c -Wall -Wextra -Wpedantic -Werror \
            -fanalyzer -O3 -flto -fuse-linker-plugin -fno-common \
            -fgraphite-identity -floop-nest-optimize -fipa-pta \
            $(pkg-config --cflags --libs ./deps.pc libbsd-overlay)
        src/scrot -v
    - name: cppcheck
      run: |
        cppcheck --version
        cppcheck --std=c99 -j$(nproc) --quiet --force --error-exitcode=1 \
            --enable=portability,performance src/*.c \
            $(pkg-config --cflags ./deps.pc)
    - name: clang-tidy
      run: |
        clang-tidy --version
        find src -name '*.c' -print | xargs -P$(nproc) -I{} \
            clang-tidy --quiet {} -- $(pkg-config --cflags ./deps.pc)
  cygwin:
    runs-on: windows-latest
    env:
      CYGWIN_NOWINPATH: 1 # Removes non-Cygwin dirs from PATH.
      CHERE_INVOKING: '' # Makes Cygwin's `bash.exe --login` not cd.
    defaults:
      run:
        shell: C:\cygwin\bin\bash.exe --login -o igncr {0}
    steps:
    - run: git config --global core.autocrlf input
      # This is NOT the Cygwin bash, it's the Git for Windows bash from the
      # default Github Actions Windows VM. This step tells git to translate Unix
      # newlines to DOS newlines.
      shell: bash
    - uses: actions/checkout@v2.4.0
    - uses: cygwin/cygwin-install-action@v1
      with:
        packages: autoconf autoconf-archive automake gcc-core libImlib2-devel \
                  libXcomposite-devel libXext-devel libXfixes-devel libXinerama-devel \
                  make
    - name: distcheck
      run: |
        cd ${GITHUB_WORKSPACE}
        ./autogen.sh
        ./configure
        make distcheck
    - name: run_program
      run: |
        cd ${GITHUB_WORKSPACE}
        make
        src/scrot -v
